<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xlmns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ユーザー削除</title>
</head>
<body>
	<h1>削除</h1>
	<div th:object="${loginUser}">
		<form action="/delete" th:action="@{/delete}" method="post">
			<table>
				<tr>
					<td>ユーザーID：</td>
					<td th:text="*{userId}"></td>
				</tr>
				<tr>
					<td>ユーザー名：</td>
					<td th:text="*{username}"></td>
				</tr>
				<tr>
					<td>役割：</td>
					<td th:text="*{role}"></td>
				</tr>
			</table>
			<input type="hidden" th:field="*{id}">
			<input type="submit" value="削除">
		</form>
	</div>
	<div>
		<a href="/userList" th:href="@{/userList}">ユーザー管理へ</a>
	</div>
</body>
</html>