<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xlmns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<title>ログインページ</title>
</head>
<body>
	<h1>ログインページ</h1>
	<p th:if="${param.error}" class="error">
		ユーザー名またはパスワードが違います
	</p>
	<form method="post" action="index.html" th:action="@{/login}">
		ユーザーID:<input type="text" name="user_id"><br>
		パスワード:<input type="text" name="password"><br>
		<button type="submit">ログイン</button>
	</form>
</body>
</html>